.bg {
  /* The image used */
  background-image: url("../images/bgimg.jpeg");
    
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  height: 100%;
    color: wheat;
}

.col-centered{
    float:none;
    margin: 0 auto;
}
.header{
    text-align: center;
}

.submit{
    margin-top: 20px;
    margin-left: 45%;
}

input[type="radio"] {
    margin-left: 20px   ;
    margin-right: 5px;
}

#info{
    padding-top: 20%;
    text-align: center;
}

.question{
    text-align: center;
}